In [47]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd 
import requests as req
import time
from selenium import webdriver
import sys

In [48]:
#chromedriver
!which chromedriver

/c/Users/Melissa/anaconda3/Library/bin/chromedriver

In [49]:
executable_path = {'executable_path': '/Users/Melissa/anaconda3/Library/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

# Step 1 - Scraping
#NASA Mars News
#Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text.
#Assign the text to variables that you can reference later.

In [50]:
# Visit url for NASA Mars News -- Latest News
news_url = "https://redplanetscience.com/"
browser.visit(news_url)
html = browser.html

# Parse HTML with Beautiful Soup
soup = bs(html, "html.parser")

# Extract article title and paragraph text
article = soup.find("div", class_='list_text')
news_title = article.find("div", class_="content_title").text
news_p = article.find("div", class_ ="article_teaser_body").text
print(news_title)
print(news_p)

10.9 Million Names Now Aboard NASA's Perseverance Mars Rover
As part of NASA's 'Send Your Name to Mars' campaign, they've been stenciled onto three microchips along with essays from NASA's 'Name the Rover' contest. Next stop: Mars.

In [51]:
news_title = "10.9 Million Names Now Aboard NASA's Perseverance Mars Rover"
news_p = "As part of NASA's 'Send Your Name to Mars' campaign, they've been stenciled onto three microchips along with essays from NASA's 'Name the Rover' contest. Next stop: Mars."

In [ ]:
browser.quit()

# ### JPL Mars Space Images - Featured Image
* Visit the url for the Featured Space Image site [here](https://spaceimages-mars.com).

* Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called `featured_image_url`.

* Make sure to find the image url to the full size `.jpg` image.

* Make sure to save a complete url string for this image.

In [94]:
# Visit url for JPL Featured Space Image
image_url = "https://spaceimages-mars.com/"
browser.visit(image_url)

# Create BeautifulSoup object; parse with 'html.parser'
html = browser.html
image_soup = bs(html, 'html.parser')

header = soup.find('div', class_='header')

browser.links.find_by_partial_text('FULL IMAGE').click()

html = browser.html
soup = bs(html, 'html.parser')

image_box = soup.find('div', class_='fancybox-inner')
featured_image_url = image_url.replace('index.html', '') + image_box.img['src']
featured_image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [ ]:
browser.quit()

# Mars Facts

* Visit the Mars Facts webpage [here](https://galaxyfacts-mars.com) and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

* Use Pandas to convert the data to a HTML table string.

In [95]:
# Setup splinter
executable_path = {'executable_path': '/Users/Melissa/anaconda3/Library/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [96]:
# URL of page to be scraped
url = 'https://galaxyfacts-mars.com'
browser.visit(url)

In [97]:
# Create BeautifulSoup object & html parser 
html = browser.html
soup = bs(html, 'html.parser')

In [87]:
tables = pd.read_html(url)
table = tables[0]
table.columns = ['Key: Comparisons', 'Mars', 'Earth']
table

          Key: Comparisons             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [88]:
table_html = table.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Key: Comparisons</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:
browser.quit()

# Mars Hemispheres

* Visit the astrogeology site [here](https://marshemispheres.com/) to obtain high resolution images for each of Mar's hemispheres.

* You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.

* Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys `img_url` and `title`.

* Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

In [89]:
# Setup splinter
executable_path = {'executable_path': '/Users/Melissa/anaconda3/Library/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [90]:
# URL of page to be scraped
url = 'https://marshemispheres.com/'
browser.visit(url)

In [91]:
# Create BeautifulSoup object & html parser 
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [92]:
images = soup.find_all('div', class_='description')

image_list = []
for image in images:
    image_dict = {}
    image_title = image.a.h3.text
    image_dict['title'] = image_title
    
    browser.links.find_by_partial_text(image_title).click()
    
    new_html = browser.html
    new_soup = bs(new_html, 'html.parser')
    
    download = new_soup.find('div', class_='downloads')
    original = download.find_all('li')[1].a['href']
    image_dict['img_url'] = original
    image_list.append(image_dict)
    
    browser.back()

image_list

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'images/cerberus_enhanced.tif'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'images/schiaparelli_enhanced.tif'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'images/syrtis_major_enhanced.tif'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'images/valles_marineris_enhanced.tif'}]

In [ ]:
browser.quit()